:root {
  --main-color: #1572a1;
  --secondary-color: #9ad0ec;
  --third-color: #e3bec6;
  --fourth-color: #efdad7;
  --primary-text-color: white;
}
body {
  margin: 0px;
  font-family: "Mulish", sans-serif;
  background-color: var(--main-color);
}
.header {
  background-color: var(--secondary-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  margin-left: 1em;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: x-large;
}
.header__menu {
  margin-right: 30px;
}
.header__menu--button {
  font-size: 80%;
  padding: 0.8rem;
  cursor: pointer;
  color: var(--primary-text-color);
  font-weight: bolder;
  background-color: var(--third-color);
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
}
.menu__button--svg {
  height: 1.2em;
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0px 0px 0px -14px;
}
.header__menu:hover ul,
ul:hover {
  display: block;
}
.header__menu li {
  margin: 10px 0px;
}
.header__menu li a {
  color: var(--primary-text-color);
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.main {
  background-color: var(--third-color);
  padding: 4em 0;
  display: block;
  text-align: center;
  color: var(--primary-text-color);
}
.main__svg {
  height: 300px;
  display: block;
  margin: 0 auto 0 auto;
}
.weeks {
  margin-top: 2em;
}
.weeks__title {
  margin-left: 1em;
  color: var(--primary-text-color);
  font-weight: bold;
}
.week {
  width: 250px;
  height: 250px;
  background-color: var(--fourth-color);
  margin: 1em;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 250px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.week__svg {
  width: 200px;
  height: 250px;
  display: block;
  margin: 0 auto 0 auto;
}
